<div>
  <%= @post.body %>
  <div>
    <%= button_to "Back to Posts", posts_path, method: :get %>
    <%= button_to "Update Post", edit_post_path(@post), method: :get %>
    <%= button_to "Delete Post", post_path(@post), method: :delete %>
  </div>
</div>
